.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 500px;
    border-radius: 12px;
    border: 1px solid #ebedf0;
    background: white;
    box-shadow: 0px 0px 8px 0px rgba(223, 226, 230, 0.25);
    gap: 20px;
  }
  
  .popup-card h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #243757;
    margin-bottom: 16px;
  }
  
  label {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #243757;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dfe2e6;
    margin-bottom: 20px;
    font-family: "DM Sans", sans-serif;
  }
  
  button[type="submit"] {
    padding: 12px 24px;
    background: #1d222d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background: #313640;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  