/* Header section styling */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
}
.users-page {
  width: 100%;
}

.users-metrics-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.users-metric-block {
  display: flex;
  width: 290px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: #FFF;
  border: 1px solid #EBEDF0;
  border-radius: 8px;
}

.users-metric-label, .users-metric-value {
  font-family: "DM Sans", sans-serif;
}

.users-metric-label {
  color: #6B788E;
  font-size: 16px;
}

.users-metric-value {
  color: #15294B;
  font-size: 32px;
  font-weight: 900;
}

/* Table Styles */
.users-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #EBEDF0;
  border-radius: 12px;
  overflow-x: auto;
  background-color: white;
}

/* Header and Row Styles */
.users-table-header, .users-table-row {
  display: flex;
  padding: 12px 16px;
  gap: 16px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  align-items: center;
}

.users-table-row {
  background: white;
  border-top: 1px solid var(--Greys-B20, #F5F6F7);
}

.users-table-header {
  background: #F5F6F7;
  font-weight: 600;
  color: #354764;
  text-transform: uppercase;
}

/* Column widths and truncation */
.users-sno {
  width: 5%;
  min-width: 64px;
}

.users-action {
  width: 5%;
  min-width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-name, .users-email {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Specific widths for each column */
.users-name {
  width: 40%;
  min-width: 150px;
}

.users-email {
  width: 50%;
  min-width: 200px;
}

.users-action-icon {
  width: 24px;
  cursor: pointer;
}

.users-add-button {
  font-family: "DM Sans", sans-serif;
  padding: 11px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: 1px solid #818cf8;
  background: linear-gradient(180deg, #6366f1 0%, #4f46e5 100%);
}
